{:tables [{:type :table, :vals [["Redemption Dates" "Principal Amounts"] ["May 1, 2028" "$450,000"] ["May 1, 2029 (maturity)" "450,000"]], :y0 124, :y1 163, :x0 145, :x1 467, :page-number 1} {:type :table, :vals [["Redemption Dates" "Principal Amounts"] ["May 1, 2030" "$450,000"] ["May 1, 2031" "450,000"] ["May 1, 2032" "475,000"] ["May 1, 2033 (maturity)" "475,000"]], :y0 187, :y1 251, :x0 145, :x1 467, :page-number 1} {:type :table, :vals [["Redemption Dates" "Principal Amounts"] ["May 1, 2034" "$475,000"] ["May 1, 2035" "475,000"] ["May 1, 2036 (maturity)" "475,000"]], :y0 275, :y1 326, :x0 145, :x1 467, :page-number 1} {:type :table, :vals [["Redemption Dates" "Principal Amounts"] ["May 1, 2037" "$475,000"] ["May 1, 2038" "475,000"] ["May 1, 2039" "475,000"] ["May 1, 2040" "475,000"] ["May 1, 2041 (maturity)" "475,000"]], :y0 350, :y1 427, :x0 145, :x1 467, :page-number 1}]}