{:tables [{:type :table, :vals [["Mandatory Redemption Date" "Principal Amount"] ["February 1, 2037" "$10,180,000"] ["February 1, 2038 (maturity)" "10,545,000"]], :y0 588, :y1 635, :x0 219, :x1 389, :page-number 1}]}